:root {
  font-family: "Noto Sans", sans-serif;
  --normal: #9fa19f;
  --fire: #ff8000;
  --fighting: #e62829;
  --water: #2980ef;
  --flying: #81b9ef;
  --grass: #3fa129;
  --poison: #9141cb;
  --electric: #fac000;
  --ground: #915121;
  --psychic: #ef4179;
  --rock: #afa981;
  --ice: #3dcef3;
  --bug: #91a119;
  --dragon: #5060e1;
  --ghost: #704170;
  --dark: #624d4e;
  --steel: #60a1b8;
  --fairy: #ef70ef;
}

.icon {
  border-radius: 100%;
  height: 100px;
  width: 100px;
  margin: auto;
  transition: 200ms all;
  user-select: none;
}

.icon:hover {
  filter: saturate(200%);
  transform: scale(1.1);
  cursor: pointer;
}

.icon img {
  height: 60%;
  width: 60%;
  margin: 20%;
}

.bug {
  background: #92bc2c;
  box-shadow: 0 0 20px #92bc2c;
}

.dark {
  background: #595761;
  box-shadow: 0 0 20px #595761;
}

.dragon {
  background: #0c69c8;
  box-shadow: 0 0 20px #0c69c8;
}

.electric {
  background: #f2d94e;
  box-shadow: 0 0 20px #f2d94e;
}

.fire {
  background: #fba54c;
  box-shadow: 0 0 20px #fba54c;
}

.fairy {
  background: #ee90e6;
  box-shadow: 0 0 20px #ee90e6;
}

.fighting {
  background: #d3425f;
  box-shadow: 0 0 20px #d3425f;
}

.flying {
  background: #a1bbec;
  box-shadow: 0 0 20px #a1bbec;
}

.ghost {
  background: #5f6dbc;
  box-shadow: 0 0 20px #5f6dbc;
}

.grass {
  background: #5fbd58;
  box-shadow: 0 0 20px #5fbd58;
}

.ground {
  background: #da7c4d;
  box-shadow: 0 0 20px #da7c4d;
}

.ice {
  background: #75d0c1;
  box-shadow: 0 0 20px #75d0c1;
}

.normal {
  background: #a0a29f;
  box-shadow: 0 0 20px #a0a29f;
}

.poison {
  background: #b763cf;
  box-shadow: 0 0 20px #b763cf;
}

.psychic {
  background: #fa8581;
  box-shadow: 0 0 20px #fa8581;
}

.rock {
  background: #c9bb8a;
  box-shadow: 0 0 20px #c9bb8a;
}

.steel {
  background: #5695a3;
  box-shadow: 0 0 20px #5695a3;
}

.water {
  background: #539ddf;
  box-shadow: 0 0 20px #539ddf;
}

#app {
  display: block;
}

.pkmnList {
  display: block;
}

.pkmnInfo {
  display: block;
}

li {
  list-style-type: none;
  text-transform: capitalize;
}

li img {
  transform: scale(1.2) translate(-3px, 5px);
}

h1 {
  text-transform: capitalize;
  text-align: center;
  position: relative;
  top: -64px;
  left: 50%;
  transform: translate(-50%);
  width: 33%;
}

.artwork {
  width: fit-content;
  margin: 10px auto;
}

.art {
  width: 50%;
  display: block;
  margin: 10px auto;
}

.hidden {
  display: none;
}

.types {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 33%;
  margin: 10px auto;
}

.statToggle {
  font-size: 30px;
}

.flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.bar {
  height: 0px;
  background: rgb(56, 159, 255);
  margin: 8px 0px;
  padding: 4px 6px 12px 4px;
  text-align: end;
  font-size: 12px;
  border-radius: 2px;
  transition: width 350ms, background 500ms;
  filter: drop-shadow(2px 4px 2px gray);
}

ul {
  background: rgb(26 42 67);
  color: whitesmoke;
}
