:root {
  font-family: "Noto Sans", sans-serif;
  --normal: #9fa19f;
  --fire: #ff8000;
  --fighting: #e62829;
  --water: #2980ef;
  --flying: #81b9ef;
  --grass: #3fa129;
  --poison: #9141cb;
  --electric: #fac000;
  --ground: #915121;
  --psychic: #ef4179;
  --rock: #afa981;
  --ice: #3dcef3;
  --bug: #91a119;
  --dragon: #5060e1;
  --ghost: #704170;
  --dark: #624d4e;
  --steel: #60a1b8;
  --fairy: #ef70ef;
}

.app {
  display: flex;
  flex-wrap: wrap;
}

.icon {
  border-radius: 100%;
  height: 100px;
  width: 100px;
  margin: auto;
  transition: 200ms all;
  user-select: none;
}

.icon:hover {
  filter: saturate(200%);
  transform: scale(1.1);
  cursor: pointer;
}

.icon img {
  height: 60%;
  width: 60%;
  margin: 20%;
}

.bug {
  background: #92bc2c;
  box-shadow: 0 0 20px #92bc2c;
}

.dark {
  background: #595761;
  box-shadow: 0 0 20px #595761;
}

.dragon {
  background: #0c69c8;
  box-shadow: 0 0 20px #0c69c8;
}

.electric {
  background: #f2d94e;
  box-shadow: 0 0 20px #f2d94e;
}

.fire {
  background: #fba54c;
  box-shadow: 0 0 20px #fba54c;
}

.fairy {
  background: #ee90e6;
  box-shadow: 0 0 20px #ee90e6;
}

.fighting {
  background: #d3425f;
  box-shadow: 0 0 20px #d3425f;
}

.flying {
  background: #a1bbec;
  box-shadow: 0 0 20px #a1bbec;
}

.ghost {
  background: #5f6dbc;
  box-shadow: 0 0 20px #5f6dbc;
}

.grass {
  background: #5fbd58;
  box-shadow: 0 0 20px #5fbd58;
}

.ground {
  background: #da7c4d;
  box-shadow: 0 0 20px #da7c4d;
}

.ice {
  background: #75d0c1;
  box-shadow: 0 0 20px #75d0c1;
}

.normal {
  background: #a0a29f;
  box-shadow: 0 0 20px #a0a29f;
}

.poison {
  background: #b763cf;
  box-shadow: 0 0 20px #b763cf;
}

.psychic {
  background: #fa8581;
  box-shadow: 0 0 20px #fa8581;
}

.rock {
  background: #c9bb8a;
  box-shadow: 0 0 20px #c9bb8a;
}

.steel {
  background: #5695a3;
  box-shadow: 0 0 20px #5695a3;
}

.water {
  background: #539ddf;
  box-shadow: 0 0 20px #539ddf;
}

.pkmnList {
  flex-basis: 25%;
}

ul {
  z-index: 0;
  list-style-type: none;
  margin-left: 2px;
  overflow-y: scroll;
  height: 950px;
  background: rgba(14, 31, 68, 0.7);
}

li {
  text-transform: capitalize;
  font-size: 22px;
  height: 36px;
  margin: 12px 16px 15px 4px;
  padding: 16px 0px 16px 20px;
  cursor: pointer;
  user-select: none;
  color: #ffffff;
  background: rgba(21, 35, 67, 0.5);
  border-radius: 6px;
}

li.variant {
  background: rgba(107, 20, 43, 0.5);
  padding: 16px 0px 7px 70px;
}

li:hover {
  background: rgba(102, 110, 231, 0.75);
}

li.variant:hover,
li.variant.selected:hover {
  background: rgba(231, 102, 167, 0.75);
}

li.selected {
  background-color: rgba(255, 234, 4, 0.65);
}

li img {
  transform: scale(1.65) translate(-4.5px, 0px);
}

.pkmnInfo {
  text-align: center;
}

h1 {
  text-transform: capitalize;
}

.artwork {
  width: fit-content;
  margin: 10px auto;
}

.art {
  width: 300px;
  display: block;
}

.hidden {
  display: none;
}

.types {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 33%;
  margin: 10px auto;
}

.stats {
  width: 350px;
  margin: 0px 75%;
}

.bar {
  height: 0px;
  background: rgb(56, 159, 255);
  margin: 8px 0px;
  padding: 4px 6px 12px 4px;
  text-align: end;
  font-size: 12px;
  border-radius: 2px;
  transition: width 350ms, background 500ms;
  filter: drop-shadow(2px 4px 2px gray);
}

#shinyButton {
  background: whitesmoke;
  margin: 10px auto;
  position: relative;
  top: -200px;
  left: 400px;
  cursor: pointer;
}

#shinyButton.true {
  background: linear-gradient(0deg, gold, yellow, goldenrod);
}

.statToggle {
  background: whitesmoke;
  cursor: pointer;
  font-size: 24px;
  font-weight: 700;
  width: 200px;
  float: right;
  margin-right: 82px;
}

.fastNav {
  top: -4px;
  left: 530px;
  background: whitesmoke;
  cursor: pointer;
  font-size: 20px;
  font-weight: 700;
  width: 200px;
  padding: 10px 0px;
  color: black;
}

.fastNav.natlDex:hover {
  background: rgba(102, 110, 231, 0.75);
  color: white;
}

.fastNav.forms {
  top: 76px;
  left: 326px;
}

.fastNav.forms:hover {
  background: rgba(231, 102, 167, 0.75);
  color: white;
}

@media screen and (max-width: 1520px) {
  body {
    overflow: hidden;
  }

  h1 {
    font-size: 32px;
    position: relative;
    top: -16px;
    left: -20%;
  }

  .artwork {
    position: relative;
    top: -40px;
    left: -290px;
    width: 150px;
  }

  .types {
    position: relative;
    top: -10px;
    left: -18.5%;
  }

  #shinyButton {
    top: -200px;
    left: 125px;
  }

  .statToggle {
    position: relative;
    top: -240px;
    left: -70px;
    font-size: 20px;
    margin-right: none;
  }

  .stats {
    position: relative;
    top: -260px;
    left: -140px;
  }

  ul {
    height: 675px;
  }
}