
body {
    font-family: Arial;
    }
    /* Style the tab */
    .tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
    }
    /* Style the buttons inside the tab */
    .tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    text-align: center;
    margin: 10px 20px;
    font-size: 20px;
    }
    /* Change background color of buttons on hover */
    .tab button:hover {
    background-color: #ddd;
    }
    /* Create an active/current tablink class */
    .tab button.active {
    background-color: #ccc;
    }
    /* Style the tab content */
    .tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
    margin: 10px auto;
    text-align: center;
    }
    :root {
    font-family: "Noto Sans", sans-serif;
    --normal: #9fa19f;
    --fire: #ff8000;
    --fighting: #e62829;
    --water: #2980ef;
    --flying: #81b9ef;
    --grass: #3fa129;
    --poison: #9141cb;
    --electric: #fac000;
    --ground: #915121;
    --psychic: #ef4179;
    --rock: #afa981;
    --ice: #3dcef3;
    --bug: #91a119;
    --dragon: #5060e1;
    --ghost: #704170;
    --dark: #624d4e;
    --steel: #60a1b8;
    --fairy: #ef70ef;
    }
    .icon {
    border-radius: 100%;
    height: 85px;
    width: 85px;
    margin: auto;
    transition: 200ms all;
    user-select: none;
    margin: 10px 30px;
    }
    .icon:hover {
    filter: saturate(200%);
    transform: scale(1.1);
    cursor: pointer;
    }
    .icon img {
    height: 60%;
    width: 60%;
    margin: 20%;
    }
    .bug {
    background: #92bc2c;
    box-shadow: 0 0 20px #92bc2c;
    }
    .dark {
    background: #595761;
    box-shadow: 0 0 20px #595761;
    }
    .dragon {
    background: #0c69c8;
    box-shadow: 0 0 20px #0c69c8;
    }
    .electric {
    background: #f2d94e;
    box-shadow: 0 0 20px #f2d94e;
    }
    .fire {
    background: #fba54c;
    box-shadow: 0 0 20px #fba54c;
    }
    .fairy {
    background: #ee90e6;
    box-shadow: 0 0 20px #ee90e6;
    }
    .fighting {
    background: #d3425f;
    box-shadow: 0 0 20px #d3425f;
    }
    .flying {
    background: #a1bbec;
    box-shadow: 0 0 20px #a1bbec;
    }
    .ghost {
    background: #5f6dbc;
    box-shadow: 0 0 20px #5f6dbc;
    }
    .grass {
    background: #5fbd58;
    box-shadow: 0 0 20px #5fbd58;
    }
    .ground {
    background: #da7c4d;
    box-shadow: 0 0 20px #da7c4d;
    }
    .ice {
    background: #75d0c1;
    box-shadow: 0 0 20px #75d0c1;
    }
    .normal {
    background: #a0a29f;
    box-shadow: 0 0 20px #a0a29f;
    }
    .poison {
    background: #b763cf;
    box-shadow: 0 0 20px #b763cf;
    }
    .psychic {
    background: #fa8581;
    box-shadow: 0 0 20px #fa8581;
    }
    .rock {
    background: #c9bb8a;
    box-shadow: 0 0 20px #c9bb8a;
    }
    .steel {
    background: #5695a3;
    box-shadow: 0 0 20px #5695a3;
    }
    .water {
    background: #539ddf;
    box-shadow: 0 0 20px #539ddf;
    }
    .flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    }
    .flex.alt {
    justify-content: center;
    }
    .stats div, .abilities div {
    margin: 10px 20px;
    }
    .abilities {
    flex-direction: column;
    text-transform: capitalize;
    }
    .nav {
    font-size: 16px;
    margin: 8px 4px;
    }
    .nav:nth-child(1), .nav:nth-child(2) {
    top: 0px;
    } 
    .nav:nth-child(4) {
    top: 40px;
    }
    .nav:nth-child(6) {
    top: 100px;
    }
    .sprite {
    width: 200px;
    display: block;
    }
    .sprite.hidden {
    display: none;
    }
    .bar {
    height: 16px;
    border: 1px solid inherit;
    padding-right: 4px;
    border-radius: 2px;
    background: rgb(93, 109, 255);
    text-align: end;
    color: rgb(255, 246, 218);
    text-shadow: 1px 1px 1px black;
    font-size: 12px;
    transition: width 150ms;
    }

    .barside {
      font-size: 14px;
    }
