:root {
    --imperfect: #d49831;
    --perfect: #ba3838;
      font-family: helvetica;
  }
  
  div.flex {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
  }
  
  h1 {
    font-size: 48px;
  }
  
  h2 {
    font-size: 36px;
    text-align: center;
  }
  
  .stat {
    background-color: #d49831;
    color: white;
  }
  
  label span {
    font-weight: bold;
  }
  